@use "variables";

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: variables.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: variables.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: variables.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: variables.$bp-desktop-xl) {
      @content;
    }
  }
}
