//Responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Sizes container
$max-width-container: 1920px;

//Colores
$azul: #0d2e4a;
$gris-oscuro: #333333;
$gris-claro: #aaaaaa;
$verde: #1cd45c;
$amarillo: #fdc735;
$celeste: #307ad5;
$rosa: #e948ae;
$rojo: #cf2e2e;
$violeta: #9b51e0;
$naranja: #ff6900;

//Tipografía
$primary-font: "Kanit", sans-serif;
