@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
  height: 294px;

  &__container {
    height: auto;
    background-color: variables.$gris-oscuro;
    padding-left: 15px;
    padding-right: 15px;
    &_iconos {
      display: flex;
      justify-content: space-between;
      gap: 17px;
      width: 90px;
      padding-top: 13px;
      padding-bottom: 13px;
      justify-self: right;

      svg {
        color: white;
        &:hover {
          color: variables.$amarillo;
        }
      }
    }

    &_ubicacion {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0.85px;
      color: variables.$gris-claro;
      list-style: none;
      padding-bottom: 15px;
      li {
        text-align: right;
      }
      svg {
        color: white;
        width: 10px;
      }
      svg.clock {
        width: 14px;
      }
    }
  }

  &__logo {
    height: 188px;
    align-content: center;
    &_container {
      display: flex;
      justify-content: left;
      align-items: center;
      padding-top: 15px;
      padding-left: 15px;
      position: relative;
      &-imagen {
        width: 120px;
        height: 120px;
        padding-right: 20px;
      }
      &-nombre {
        width: 33%;
        .nombre {
          font-size: 20px;
          font-weight: bold;
          font-style: italic;
          color: variables.$azul;
          line-height: 20px;
        }
        .slogan {
          font-size: 10px;
          font-weight: bold;
          font-style: normal;
          letter-spacing: 2px;
          color: variables.$azul;
        }
      }
    }
  }

  &__menu {
    color: white;
    position: relative;
    background: white;
    width: 95%;
    box-shadow: 10px 10px 5px variables.$gris-oscuro;
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      border-bottom: 2px solid #456789;
      background: #234567;
      font-size: 18px;
      text-shadow: 1px 1px black;
    }
    a:hover {
      color: variables.$amarillo;
    }
    input[type="checkbox"],
    .bars,
    .times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0px;
      top: -180px;
      fill: variables.$gris-oscuro;
      width: 48px;
      height: 48px;
    }
    .bars,
    .times {
      pointer-events: none;
    }
    input[type="checkbox"] {
      opacity: 0;
    }
    nav {
      display: none;
    }
    input:checked ~ nav {
      display: block;
    }
    input:checked ~ .bars {
      display: none;
    }
    input:not(:checked) ~ .times {
      display: none;
    }
  }

  &__imagen {
    img {
      display: none;
    }
    @include mixins.breakpoint(tablet) {
      img {
        display: block;
        width: 100%;
        border: 1px solid white;
      }
    }
  }
}

@include mixins.breakpoint(tablet) {
  .header {
    height: auto;
    &__container {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 30px;
      &_ubicacion {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        width: 60%;
        order: 1;
        li:first-child {
          display: none;
        }
      }
      &_iconos {
        order: 2;
        width: 130px;
      }
    }
    &__logo {
      height: 188px;
      &_container {
        &-imagen {
          width: 120px;
          height: 120px;
        }
        &-nombre {
          width: auto;
          .nombre {
            font-size: 40px;
            line-height: 40px;
            padding-bottom: 10px;
          }
          .slogan {
            font-size: 20px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

@include mixins.breakpoint(desktop) {
  .header {
    input,
    .bars,
    .times {
      display: none;
    }
    &__container {
      &_ubicacion {
        width: 40%;
      }
    }

    &__menu {
      width: 100%;
      box-shadow: none;
      position: inherit;
      background-color: variables.$azul;

      nav {
        display: block;
        &.drop > ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          margin: 0;
          padding: 0;
        }

        &.drop > ul li a {
          display: block;
          background-color: variables.$azul;
          color: white;
          text-decoration: none;
          padding-left: 35px;
          padding-right: 35px;
          border: none;
          font-weight: 400;
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}
